body{
    background: white;
    color: black;
   
}
header h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding: 20px;
    margin-left: 35%;
    display: inline;
    border-style: groove;
    border-color: black;
    border-width: medium;
    margin-top: 50%;
    border-radius: 10px;
    background-color: black;
}

.navbar{ 
     color: black;
    
}
nav ul{
    list-style: none;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 30px;
    margin: 50px;
    background-color: black;
}
nav ul a{
    font-size: 30px;
    color: white;
    display: block;
    height: auto;
    
}
nav ul a:hover{
    background-color: red;
    transition: 0.5s;
}


#menu{
    color: white;
    padding: 80px 10;
    background: black;
    text-align: center;
}
#menu:hover{
    color: red;
}
.menu-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 40px;
    margin: 50px;
}
.menu-list div{
    background: #262626;
}
.menu-list div:hover{
    color: red;
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
.menu-list div li{
    font-size: 20px;
    margin-bottom: 17px;
    color:white;
}
.menu-list div li:hover{
    color: red;
}
.menu-list h2{
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
}
.menu-list h2:hover{
    color: red;
}
.menu-list a{
    color: white; 
}
.menu-list a:hover{
    color: red;
}
.copyright{
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: black;
}
.copyright:hover{
    color: red;
}
