body{
    background: white;
    color: black;
   
}
header h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding: 20px;
    margin-left: 35%;
    display: inline;
    border-style: groove;
    border-color: black;
    border-width: medium;
    margin-top: 50%;
    border-radius: 10px;
    background-color: black;
}

.navbar{ 
     color: black;
    
}
nav ul{
    list-style: none;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 30px;
    margin: 50px;
    background-color: black;
}
nav ul a{
    font-size: 30px;
    color: white;
    display: block;
    height: auto;
    
}
nav ul a:hover{
    background-color: red;
    transition: 0.5s;
}



.copyright{
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: black;
}
.copyright:hover{
    color: red;
}
